*{
    /*space inside element between content and border*/
    padding: 0;
    /*space outside element between content and border*/
    margin: 0;
    /*removes the styling eg.bulletpoints on lists*/
    list-style: none;
    /*removes the text deco like underlines on links*/
    text-decoration: none;
}

/*when link back to top of page scroll is smooth*/
html{
    scroll-behavior: smooth;
}

/*------------------------------------------------NAV----------------------------------------------------------------*/
nav {
    font-family: 'Orbitron', sans-serif;
    /*when the person scrolls down, the menu stays on top for easy access*/
    position:fixed;
    z-index: 1000;
    /*height of the nav bar*/
    height: 100px;
    /*full width of the page*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*------------------------------------------------BODY----------------------------------------------------------------*/
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /*default font family*/
   font-family: 'Exo 2', sans-serif;
}

/*------------------------------------------------MAIN HOME----------------------------------------------------------------*/
.homemain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    /*align text to center*/
    text-align: center;
}

/*this is the 3d space canvas so it always needs to be fixed position and under everything else*/
#homebg {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.homealltextcontainer {
    /*center every element of the home container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*column so the texts can be on top of one another, not beside*/
    flex-direction: column;
    /*make it roughly less than 50% of the width and height*/
    min-height: 30vh;
    min-width: 50vw;
    /*add some margin around it*/
    margin: 5% auto;
}
/*this is the heading that says cosmo.IO*/
.homeheading {
    /*change the big words font to this*/
    font-family: 'Orbitron', sans-serif;
    /*change text colour to white*/
    color: white;
    /*when hovered over, put a nice glow over the text. this works by using 6 shadows with increasing blur each time, making it seem like neon*/
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #0f52e2,
                 0 0 40px #ffffff,
                 0 0 80px #0f52e2,
                 0 0 120px #ffffff,
                 0 0 160px #0f52e2;
    /*change the font size of the heading*/
    font-size:70px;
}
/*this is the text that says Answer right, fuel the flight! Get the crew back to earth safely.*/
.hometext {
    /*change text colour to white*/
    color: white;
    font-size: 20px;
    max-width: 75%;
}
/*this is the Play button*/
.homeplaybutton {
    /*font, colour, letter spacing, and outline text*/
    color: #ffffff;
    background: #8213dd;
    letter-spacing: 1px;
    font-size: 14px;
    /*some styling to make the button a pill shape*/
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1.5em;
    /*transition for the hover effects later*/
    transition: 0.5s;
}

.homeplaybutton:hover{
    color: #ffffff;
    background: #000000;
}
/*------------------------------------------------PLAY PAGE----------------------------------------------------------------*/
.play{
    background-color: #000; /*I put bkground color first*/
    background-image: url('../Assets/play-background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*align text to center*/
    text-align: center;
}

.playmain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    
}

.playallcontainer {
    /*center every element of the container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*column so the texts can be on top of one another, not beside*/
    flex-direction: column;
    /*make it roughly less than 50% of the width and height*/
    min-height: 30vh;
    min-width: 50vw;
    /*add some margin around it*/
    margin: 5% auto;
}
.playallcontainer h2{
    color: #07afd9;
    padding-top: 10%;
}
/*this is the heading that says cosmo.IO*/
.playheading {
    /*change the big words font to this*/
    font-family: 'Orbitron', sans-serif;
    /*change text colour to white*/
    color: white;
    /*when hovered over, put a nice glow over the text. this works by using 6 shadows with increasing blur each time, making it seem like neon*/
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #0f52e2,
                 0 0 40px #ffffff,
                 0 0 80px #0f52e2,
                 0 0 120px #ffffff,
                 0 0 160px #0f52e2;
    /*change the font size of the heading*/
    font-size: 55px;
    max-width: 75%;
}
/*change the navbar colour on this page since it is transparent in index.html*/
#playnavbarcolour{
    background-color: #070022;
}

/*-----CATEGORY SELECTION SECTION-------*/
.selectcontainer {
    display: flex;
    justify-content: center;
    align-items: center;    /* Aligns elements to center of page */
    height: 50vh;
    overflow: hidden;
    --primary-color: #07afd9;
  }
  
  .radio-tile-group { /* for each radio tile */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* responsiveness base on screen size */
  }
  
  .input-container {
    position: relative;
    height: 7rem;
    width: 7rem; /*creates square shape of tiles */
    margin: 0.5rem; /* spacing between each tile */
  }
  
  .input-container input {
    position: absolute;
    height: 100%; 
    width: 100%; /* so that user is able to click on any part of the tile to select, if not only can click on text in tile to select. */
    margin: 0;
    cursor: pointer; /* give pointer effect when hover over */
    z-index: 2;
    opacity: 0;
  }
  
  .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /*aligns the elements inside the tile to the center (icons,text) */
    height: 100%;
    border: 2px solid var(--primary-color); /*colour*/
    border-radius: 8px;
    transition: all 300ms ease; /* Gives a smooth animation when hovering over a tile */
  }
  
  .input-container ion-icon {
    color: var(--primary-color);
    font-size: 3rem; /* this changes the overall size of the icon and text in the tile */
  }
  
  .input-container label {
    color: var(--primary-color);
    font-size: 0.80rem; /*text sizing*/
    font-weight: 600; /* text thickness */
    text-transform: uppercase; /* converts all letters into uppercase */
    letter-spacing: 1px; /* spaces between each letter */
  }
  
  input:checked+.radio-tile {
    background-color: var(--primary-color);
    box-shadow: 0 0 12px var(--primary-color);
    transform: scale(1.1); /*makes the tile pop out more when a tile is clicked to show that the tile is clicked*/
  }
  
  input:hover+.radio-tile {
    box-shadow: 0 0 12px var(--primary-color); /*gives a slight added hint of colour to show when the tile is hovered over*/
  }
  
  input:checked+.radio-tile ion-icon,
  input:checked+.radio-tile label {
    color: white; /*When clicked, the icon and text in the tile will change colour to white*/
  }

/*------------------------------------------------STORY PAGE----------------------------------------------------------------*/
/*change the navbar colour on this page since it is transparent in index.html*/
#storynavbarcolour{
    background-color: #070022;
}

.storycontainer {
    display: flex;
    /*flex end so the textbox is at the bottom of the page*/
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    /*page will not be less than 100vh*/
    min-height: 100vh;
    /*cock pit background*/
    background-image: url('../Assets/cockpit.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.card {
   /*make the min height a little bigger because it is too short if it is just the height of the text*/
   min-height: 15vw;
   
}

.card-header {
   /*font family*/
   font-family: 'Orbitron', sans-serif;
}

/*------------------------------------------------GAME PAGE----------------------------------------------------------------*/
/*prevent scrolling on the game page*/
.gamebackground {
    overflow-y: hidden;
}

/*this is the 3d game background so it always needs to be fixed position and under everything else*/
#gamebg {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}
/*main content never less than 100vh*/
.gamemain {
    height: 100vh;
    /*column direction, centered on z axis and at the top of the page with flex-start (fuel meter supposed to be at the top of the page*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.gameprogresscontainer {
    width: 65%;
}
/*padding to space out elements*/
.gamefuelheader {
    padding: 15px;
    /*more visible text colour*/
    color: #ffffff;
    
}

/*API trivia questions*/

:root {
    --light-blue-color: #000769; 
    --light-color: #fff;
    --dark-color: #000;
    --grey-color: #f2f2f2;
    --transition: all 300ms ease-in-out;
}

/*creates the background for the quiz*/
.game-wrap{
    background: rgba(71, 71, 71, 0.4);
    padding: 1.5rem 4rem 3rem 4rem;
    width: 75%;
    /*creates rounded borders*/
    border-radius: 1.5rem;
    position: relative;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
    color: white;
}
.questions-title{
    text-align: center;
    font-size: 2rem;
}
.quiz-score{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    width: 100px;
    height: 50px;
    margin: .5rem auto;
    color: #fff;
}
.quiz-questions{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.quiz-questions .category{
    font-size: 0.9rem;
    font-weight: 500;
    /*highlight the word Mathematics*/
    background-color: var(--light-blue-color);
    color: var(--light-color);
    padding: .2rem .4rem;
    border-radius: .2rem;
    margin-top: 0.5rem;
    display: inline-block;
}
.quiz-options{
    list-style-type: none;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.quiz-options li {
    border-radius: 0.5rem;
    font-weight: 600;
    margin: .7rem 0;
    padding: .4rem 1.2rem;
    cursor: pointer;
    border: 3px solid var(--light-blue-color);
    background-color: rgb(15, 1, 65, 0.35);
    color: var(--light-color);
    box-shadow: 0 4px 0 0 rgb(15, 1, 65);
    /*for hover animation*/
    transition: 0.5s;
    
}
.quiz-options li:hover{
    background-color: var(--grey-color);
    color: var(--dark-color);
    border-color: var(--grey-color);
    box-shadow: 0 4px 0 0 #bbb;
}
.quiz-options li:active {
    transform: scale(0.97);
}
/*styling for selected button*/
.selected{
    background-color: var(--grey-color)!important;
    color: var(--dark-color)!important;
    border-color: var(--grey-color)!important;
    box-shadow: 0 4px 0 0 #bbb!important;
}
.quiz-foot button {
    border: none;
    border-radius: 0.5rem;
    outline: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1rem;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    background-color: rgba(146, 146, 146, 0.35);
    color: var(--dark-color);
    letter-spacing: 2px;
    transition: var(--transition);
    box-shadow: 0 4px 0 0 rgb(34, 34, 34);
    color: #fff;
    text-shadow: -2px 2px 4px #000; /*Creates a drop shadow to show the category text better*/
}
.quiz-foot button:hover{
    background-color: #000769;
    box-shadow: 0 4px 0 0 #190055;
    color: #fff;
}
.quiz-foot button {
    transform: scale(0.95)
}
#exit-game {
    display: none;
}

#result{
    padding: .7rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}
#result i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: .5rem;
    margin-bottom: .5rem;
    background-color: var(--light-blue-color);
    color: var(--light-color);
}
/*code for responsive*/
@media(max-width: 678px){
    .question-title{
        font-size: 1.6rem;
    }
    .quiz-options {
        flex-direction: column;
    }
    .game-wrap{
        margin: 3rem 0;
        width: 90%;
        padding: 1.5rem 1rem 3rem 1rem;
        border-radius: 0;
    }
    .quiz-foot button{
        font-size: 1rem;
    }
}