*{
    /*space inside element between content and border*/
    padding: 0;
    /*space outside element between content and border*/
    margin: 0;
    /*removes the styling eg.bulletpoints on lists*/
    list-style: none;
    /*removes the text deco like underlines on links*/
    text-decoration: none;
}

/*when link back to top of page scroll is smooth*/
html{
    scroll-behavior: smooth;
}

/*------------------------------------------------NAV----------------------------------------------------------------*/
nav {
    font-family: 'Orbitron', sans-serif;
    /*when the person scrolls down, the menu stays on top for easy access*/
    position:fixed;
    z-index: 1000;
    /*height of the nav bar*/
    height: 100px;
    /*full width of the page*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*------------------------------------------------BODY----------------------------------------------------------------*/
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /*default font family*/
   font-family: 'Exo 2', sans-serif;
}

/*------------------------------------------------MAIN HOME----------------------------------------------------------------*/
.homemain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    
}

/*this is the 3d space canvas so it always needs to be fixed position and under everything else*/
#homebg {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.homealltextcontainer {
    /*center every element of the home container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*column so the texts can be on top of one another, not beside*/
    flex-direction: column;
    /*make it roughly less than 50% of the width and height*/
    min-height: 30vh;
    min-width: 50vw;
    /*add some margin around it*/
    margin: 5% auto;
}
/*this is the heading that says cosmo.IO*/
.homeheading {
    /*change the big words font to this*/
    font-family: 'Orbitron', sans-serif;
    /*change text colour to white*/
    color: white;
    /*when hovered over, put a nice glow over the text. this works by using 6 shadows with increasing blur each time, making it seem like neon*/
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #0f52e2,
                 0 0 40px #ffffff,
                 0 0 80px #0f52e2,
                 0 0 120px #ffffff,
                 0 0 160px #0f52e2;
    /*change the font size of the heading*/
    font-size: 5vw;
}
/*this is the text that says Answer right, fuel the flight! Get the crew back to earth safely.*/
.hometext {
    /*change text colour to white*/
    color: white;
    font-size: 1vw;
}
/*this is the Play button*/
.homeplaybutton {
    /*font, colour, letter spacing, and outline text*/
    color: #ffffff;
    background: #8213dd;
    letter-spacing: 1px;
    font-size: 14px;
    /*some styling to make the button a pill shape*/
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1.5em;
    /*transition for the hover effects later*/
    transition: 0.5s;
}

.homeplaybutton:hover{
    color: #ffffff;
    background: #000000;
}
/*------------------------------------------------PLAY PAGE----------------------------------------------------------------*/
.play{
    background-color: #000; /*I put bkground color first*/
    background-image: url('../Assets/play-background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.playmain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.playallcontainer {
    /*center every element of the container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*column so the texts can be on top of one another, not beside*/
    flex-direction: column;
    /*make it roughly less than 50% of the width and height*/
    min-height: 30vh;
    min-width: 50vw;
    /*add some margin around it*/
    margin: 5% auto;
}
.playallcontainer h2{
    color: #07afd9;
    padding-top: 10%;
}
/*this is the heading that says cosmo.IO*/
.playheading {
    /*change the big words font to this*/
    font-family: 'Orbitron', sans-serif;
    /*change text colour to white*/
    color: white;
    /*when hovered over, put a nice glow over the text. this works by using 6 shadows with increasing blur each time, making it seem like neon*/
    text-shadow: 0 0 10px #ffffff,
                 0 0 20px #0f52e2,
                 0 0 40px #ffffff,
                 0 0 80px #0f52e2,
                 0 0 120px #ffffff,
                 0 0 160px #0f52e2;
    /*change the font size of the heading*/
    font-size: 75px;
}
/*change the navbar colour on this page since it is transparent in index.html*/
#playnavbarcolour{
    background-color: #070022;
}

/*-----CATEGORY SELECTION SECTION-------*/
.selectcontainer {
    display: flex;
    justify-content: center;
    align-items: center;    /* Aligns elements to center of page */
    height: 50vh;
    overflow: hidden;
    --primary-color: #07afd9;
  }
  
  .radio-tile-group { /* for each radio tile */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* responsiveness base on screen size */
  }
  
  .input-container {
    position: relative;
    height: 7rem;
    width: 7rem; /*creates square shape of tiles */
    margin: 0.5rem; /* spacing between each tile */
  }
  
  .input-container input {
    position: absolute;
    height: 100%; 
    width: 100%; /* so that user is able to click on any part of the tile to select, if not only can click on text in tile to select. */
    margin: 0;
    cursor: pointer; /* give pointer effect when hover over */
    z-index: 2;
    opacity: 0;
  }
  
  .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: all 300ms ease;
  }
  
  .input-container ion-icon {
    color: var(--primary-color);
    font-size: 3rem;
  }
  
  .input-container label {
    color: var(--primary-color);
    font-size: 0.80rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  input:checked+.radio-tile {
    background-color: var(--primary-color);
    box-shadow: 0 0 12px var(--primary-color);
    transform: scale(1.1);
  }
  
  input:hover+.radio-tile {
    box-shadow: 0 0 12px var(--primary-color);
  }
  
  input:checked+.radio-tile ion-icon,
  input:checked+.radio-tile label {
    color: white;
  }

/*------------------------------------------------STORY PAGE----------------------------------------------------------------*/
/*change the navbar colour on this page since it is transparent in index.html*/
#storynavbarcolour{
    background-color: #070022;
}

.storycontainer {
    display: flex;
    /*flex end so the textbox is at the bottom of the page*/
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    /*page will not be less than 100vh*/
    min-height: 100vh;
    /*cock pit background*/
    background-image: url('../Assets/cockpit.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.card {
   /*make the min height a little bigger because it is too short if it is just the height of the text*/
   min-height: 15vw;
   
}

.card-header {
   /*font family*/
   font-family: 'Orbitron', sans-serif;
}

/*------------------------------------------------GAME PAGE----------------------------------------------------------------*/
/*this is the 3d game background so it always needs to be fixed position and under everything else*/
#gamebg {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}
/*main content never less than 100vh*/
.gamemain {
    min-height: 100vh;
    /*column direction, centered on z axis and at the top of the page with flex-start (fuel meter supposed to be at the top of the page*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.gameprogresscontainer {
    width: 65%;
}
/*padding to space out elements*/
.gamefuelheader {
    padding: 15px;
    /*more visible text colour*/
    color: #ffffff;
    
}